# PostgreSQL
DB_USER=petrol_user
DB_PASS=CHANGE_ME_STRONG_DB_PASSWORD
DB_NAME=petrol_db

# NestJS auth
JWT_SECRET=CHANGE_ME_LONG_RANDOM_JWT_SECRET
JWT_EXPIRES_IN=3h
ADMIN_SECRET=CHANGE_ME_ADMIN_SECRET

# Frontend talks to API via Nginx on same host
NEXT_PUBLIC_PETROL_API_URL=/api

# Host port for Nginx (change to 8080 if 80 is taken)
HTTP_PORT=80
